extends layout

block content
    div(class="navbar navbar-inverse navbar-fixed-top", role="navigation")
        div.container
            div.navbar.navbar-fixed-top.navbar-inverse
                div.navbar-inner
                    div.pull-right
                        p.navbar-brand WebSockets - sockjs

    div
        div
            div.container
                h1= title
                p WebSockets Example (with "sockjs")
                br
                div
                    b Server Stats
                    br
                    div Connected:
                        #connected false
                        br
                    div RSS:
                        #rss
                        br
                    div Heap total:
                        #heapTotal
                        br
                    div Heap used:
                        #heapUsed
                        br
    script(type="text/javascript", src="/javascripts/wsclient.js")